.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
    position: relative;
    background-color: $header-text-color;
    background-image: url("../img/icon-editor-diagram-fill.svg"),
      url("../img/icon-timer.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 40px 115px, 20px 60px;
    background-size: 200px 200px, 240px 275px;
  }

  .effect__picture-number {
    font-size: 96px;
    line-height: 150px;
    color: $decor-color;
    font-weight: 600;
    position: absolute;
    top: 135px;
    left: 84px;
  }

  .effect__info {
    padding-top: 96px;
    padding-left: 309px;
    padding-bottom: 106px;
  }

  .effect__info-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    color: $title-color;
  }

  .effect__info-text {
    margin: 0;
    width: 300px;
    margin-bottom: 10px;
  }

  .effect__info-link {
    color: $decor-color;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $base-color;
    }

    &:active {
      color: rgba($base-color, 0.3%);
    }
  }
}

@media (min-width: $desktop-width) {
  .effect {
    display: block;
    background-color: $section-background;
    background-position: 35px 105px, 10px 35px;
    background-size: 255px 253px, 300px 345px;
  }

  .effect__info {
    margin-left: 355px;
    width: 580px;
    padding-top: 130px;
    padding-left: 10px;
    padding-bottom: 110px;
  }

  .effect__info-title br {
    display: none;
  }

  .effect__info-title {
    margin-bottom: 25px;
    line-height: 30px;
  }

  .effect__info-text,
  .effect__info-link {
    font-size: 18px;
    line-height: 30px;
  }

  .effect__info-text {
    width: 530px;
    margin-bottom: 30px;
    white-space: pre-line;
  }

  .effect__info-text br {
    display: none;
  }

  .effect__picture-number {
    font-size: 120px;
    line-height: 190px;
    top: 130px;
    left: 90px;
  }
}
