.contacts {
  background: url("../img/bg-triangle-white-footer.svg") no-repeat center 210px,
    url("../img/bg-map-mobile@1x.png") no-repeat center center;
  /*Временно для наглядности*/
  width: 320px;
  min-height: 612px;
  outline: 2px solid blue;
}

.contacts__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  background-color: $header-text-color;
}

.contacts__list {
  @include list-default;
  background-color: $header-text-color;
}

.contacts__item-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.contacts__item-data {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: $decor-color;
}
/*???*/
.contacts__item a {
  &:hover,
  &:focus {
    text-decoration: underline;
    color: $base-color;
  }

  &:active {
    color: rgba($base-color, 0.3%);
  }
}
