.contacts {
  min-height: 612px;
  position: relative;
}

.contacts__title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  background-color: $header-text-color;
  text-align: center;
  padding-bottom: 36px;
  padding-top: 42px;
}

.contacts__list {
  @include list-default;
  background-color: $header-text-color;
  text-align: center;
}

.contacts__item {
  margin-bottom: 21px;
}

.contacts__item-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.contacts__item-data {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: $decor-color;
}
/*???*/
.contacts__item a {
  &:hover,
  &:focus {
    text-decoration: underline;
    color: $base-color;
  }

  &:active {
    color: rgba($base-color, 0.3%);
  }
}

.contacts__map-desktop,
.contacts__map-tablet {
  display: none;
}

.contacts-triangle {
  position: absolute;
  top: 394px;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-top: 50px solid $header-text-color;
  z-index: 10;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 45px;
    padding-top: 47px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__item {
    width: 260px;
    flex-grow: 1;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 25px;
    }
  }

  .contacts__map-mobile,
  .contacts__map-desktop {
    display: none;
  }

  .contacts__map-tablet {
    display: block;
  }

  .contacts-triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: 404px;
    border-left: 330px solid transparent;
    border-right: 330px solid transparent;
    border-top: 67px solid $header-text-color;
    border-bottom: 0 solid transparent;
  }
}

@media (min-width: $desktop-width) {
  // .contacts {
  //   min-height: 855px;
  // }

  .contacts__list {
    width: 960px;
    margin: 0 auto;
    padding: 0 120px;
  }

  .contacts__title {
    font-size: 50px;
    margin-top: 15px;
    padding-bottom: 60px;
    line-height: 60px;
  }

  .contacts__item {
    width: 320px;

    &:last-child {
      padding-top: 0;
      flex-grow: 0;
      padding-bottom: 0;
    }

    &:nth-child(2) {
      order: 2;
    }
  }

  .contacts__item-data,
  .contacts__item-data a {
    display: block;
    padding-top: 20px;
  }

  .contacts__map-mobile,
  .contacts__map-tablet {
    display: none;
  }

  .contacts__map-desktop {
    display: block;
  }

  .contacts-triangle {
    top: 357px;
    border-left: 600px solid transparent;
    border-right: 600px solid transparent;
    border-top: 100px solid $header-text-color;
  }
}
