.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
    position: relative;
  }

  .effect__picture-number {
    font-size: 96px;
    line-height: 150px;
    color: $decor-color;
    font-weight: 600;
    position: absolute;
    top: 40px;
    left: 84px;
  }

  .effect__info {
    margin-top: 96px;
    margin-left: 309px;
    margin-bottom: 111px;
  }

  .effect__info-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 36px;
    color: $title-color;
  }

  .effect__info-text {
    margin: 0;
    width: 300px;
    margin-bottom: 11px;
  }

  .effect__info-link {
    color: $decor-color;
    text-decoration: underline;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    display: block;
    /*Временно*/
    outline: 2px solid tomato;
    min-height: 470px;
  }

  .effect__info {
    margin-left: 370px;
  }
}
