.page-footer {
  display: none;
}

.social__list {
  @include list-default;
}

.footer__copyright {
  line-height: 18px;
  font-size: 14px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: block;
  }

  .page-footer__wrapper {
    display: flex;
    align-items: center;
  }

  .social__list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    display: block;
  }
}
