.page-header {
  color: $header-text-color;
  background: url("../img/bg-back-mobile@1x.jpg") center top no-repeat;
  /*Временно для сетки*/
  outline: 3px solid yellow;
  min-height: 990px;
}

.page-header__menu {
  background-color: $base-color;
  /**Временно для сеток*/
  outline: 2px dotted lightgreen;
}

.page-header__menu-wrapper {
  width: 320px;
}


.main-nav__list {
  @include list-default;
  width: 320px;
}

.main-nav__item a {
  color: $header-text-color;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
}

.main-nav__item a[href] {
  &:hover,
  &:focus {
    color: $decor-color;
  }

  &:active {
    color: $decor-color;
    opacity: 0.3;
  }
}

.intro__title-inner,
.intro__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.intro__title {
  display: none;
}

.intro__wrapper {
  background-color: $base-color;
  width: 320px;
  /*Временно для сеток*/
  outline: 2px solid white;
}

.intro__button {
  font-weight: 700;
  line-height: 21px;
  color: $header-text-color;

  &:hover {
    background: $header-text-color;
    color: $decor-color;
  }

  &:active {
    color: rgba($decor-color, 0.7%);
  }
}

.intro__os-list {
  @include list-default;
}

.intro__text {
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .page-header {
    background: url("../img/bg-back-tablet@1x.jpg") center top no-repeat;
    min-height: 730px;
  }

  .intro__wrapper {
    min-height: 480px;
    background-color: transparent;
  }

  .intro__title {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background: url("../img/bg-back-desktop@1x.jpg") center top no-repeat;
    min-height: 850px;
    padding: 0 110px;
  }

  .page-header__menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    background-color: $header-color;
    align-items: center;

    /*Временно*/
    min-height: 110px;
  }

  .main-nav__list {
    display: flex;
    width: 660px;

    justify-content: space-between;
  }

  .intro__wrapper {
    min-height: 560px;
    background-color: transparent;
    /*Временно*/
    width: 370px;
  }

  .intro__title {
    display: block;
  }
}
