.post {
  min-width: 320px;
  margin: 0 auto;
  margin-top: 40px;
}

.post__title {
  margin: 0;
  padding-bottom: 43px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  background-color: $header-text-color;
  text-align: center;
}

.post__img {
  margin: 0 auto;
  display: block;
  padding-top: 20px;
}

.post-fieldset {
  padding: 0;
  padding-top: 5px;
  border: none;
  position: relative;
  min-height: 120px;
  border-bottom: 2px solid #dddfe0;
}

.filters__toggles {
  width: 220px;
  margin: 0 auto;

  display: flex;
}

.slider__toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 24px;

  &:hover svg,
  &:focus svg {
    fill: rgba(#000000, 0.5);
  }

  &--active svg {
    fill: $decor-color;
  }
}

.post__filters {
  position: absolute;
  top: 90px;
  left: 35px;
  width: 240px;
  -webkit-appearance: none;
  border-radius: 2px;
  height: 0;
  outline: none;
  border: 1px solid $base-color;
  background-color: $base-color;
}

.post__filters::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: $section-background;
  border-radius: 15px;
  border: 2px solid $decor-color;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $decor-color;
  }
}

.form-wrapper {
  margin-top: 36px;
}

.post-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
}

.post__button {
  background-color: transparent;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 27px;
  padding: 15px 45px 16px 40px;
  width: 280px;
  margin: 0 auto;
}

.post__post {
  border: 3px solid $decor-color;
  color: $decor-color;
  margin-bottom: 10px;

  &:hover,
  &:focus {
    background-color: $decor-color;
    color: $header-text-color;
  }

  &:active {
    color: rgba($header-text-color, 0.3%);
  }
}

.post__cancel {
  border: 3px solid rgba($base-color, 0.1%);
  color: rgba($base-color, 0.1%);
  margin-bottom: 44px;

  &:hover,
  &:focus {
    border: 3px solid rgba($base-color, 0.3%);
    color: rgba($base-color, 0.3%);
  }

  &:active {
    background: rgba($base-color, 0.3%);
    border: 3px solid rgba($base-color, 0%);
  }
}

@media (min-width: $tablet-width) {
  .post__wrapper {
    padding: 0 20px;
    background-color: $section-background;
    display: flex;
  }

  .post__title {
    font-size: 18px;
    padding-bottom: 65px;
  }

  .post__img {
    padding-top: 57px;
  }

  .slider__toggle {
    display: none;
  }

  .form-wrapper {
    margin-top: 35px;
    margin-left: 25px;
  }

  .post-fieldset {
    margin: 0;
    padding: 0;
    border-bottom: none;
  }

  .post__label {
    padding-left: 80px;
    padding-bottom: 25px;
    padding-top: 25px;
    display: block;
    border-bottom: 1px solid #dddfe0;

    &--contrast {
      content: "";
      background-image: url("../img/icon-editor-contrast.svg");
      background-repeat: no-repeat;
      background-position: 30px 30px;
      background-size: 18px 18px;
    }

    &--color {
      content: "";
      background-image: url("../img/icon-editor-crop.svg");
      background-repeat: no-repeat;
      background-position: 30px 30px;
      background-size: 26px 22px;
    }

    &--brightness {
      content: "";
      background-image: url("../img/icon-editor-fill.svg");
      background-repeat: no-repeat;
      background-position: 30px 30px;
      background-size: 24px 24px;
    }
  }

  .post__filters {
    position: static;
    -webkit-appearance: none;
    border-radius: 2px;
    width: 200px;
    height: 0;
    outline: none;
    border: 1px solid $base-color;
    background-color: $base-color;
  }

  .post-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
  }

  .post__button {
    width: 260px;
  }

  .post__cancel {
    margin-bottom: 45px;
    margin-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .post {
    padding: 0 130px;
    margin-top: 5px;
  }

  .post__forms {
    width: 420px;
  }

  .post__wrapper {
    background-color: $section-background;
    padding: 0;
    margin-bottom: 100px;
    display: flex;
  }

  .post__img {
    margin-left: 80px;
  }

  .post__label {
    padding-left: 90px;

    &--contrast {
      background-position: 0 25px;
      background-size: 32px 32px;
    }

    &--color {
      background-position: 0 15px;
      background-size: 45px 49px;
    }

    &--brightness {
      background-position: 0 15px;
      background-size: 47px 45px;
    }
  }

  .post__filters {
    width: 290px;
  }

  .post-buttons {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 410px;
    margin-top: 140px;
    margin-bottom: 60px;
  }

  .post__button {
    width: 185px;
  }

  .post__cancel,
  .post__post {
    margin: 0;
  }

  .form-wrapper {
    margin-left: 90px;
  }
}
