.price {
  background-color: $section-background;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: center top;
  background-repeat: no-repeat;
  /*Временно*/
  outline: 3px solid #e80744;
  min-height: 506px;
}

.price__tariff {
  background-color: $base-color;
  text-align: center;
  color: $header-text-color;
  font-weight: 700;
  width: 233px;
  text-transform: uppercase;

  &:first-child {
    background-color: transparent;
  }
}

.price__options {
  background-color: $header-text-color;
  font-size: 14px;
  border-radius: 3px;
}

.price__value {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.price__options-yes {
  background: #ffffff url("../img/icon-yes.svg") center center no-repeat;
}

.price__options-no {
  background: #ffffff url("../img/icon-no.svg") center center no-repeat;
}

.price__toggles {
  width: 70px;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .price__options {

    width: 153px;
    padding: 7px 0 7px 15px;
  }
}

@media (min-width: $desktop-width) {
  .price__tariff {
    font-size: 18px;
    width: 232px;
    padding: 17px 0;
    border-radius: 3px;
  }

  .price__options {
    font-size: 18px;
    box-sizing: border-box;
    width: 233px;
    padding: 15px 0 14px 21px;
  }

  .price__value {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
  }
}
